/* COLORS */
.purple-bg {
    background-color: #C271FF;
}
.purple-text {
    color: #C271FF;
}
.white-text {
    color: #FFFFFF;
}
.navy-bg {
    background-color: #071629;
}
.navy-text {
    color: #071629;
}
.opacity-text {
    opacity: 50%;
}

/* FONT SIZE */
.px14 {
    font-size: 14px;
}

/* BANNER */
.top-image{
    background-image: url('images/Banner_BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#menu-toggle, #toggle-label{
    display: none;
    position: absolute;
    top: 45px;
    left: 40px;
}
#toggle-label {
    display: block;
}
#toggle-content {
    display: none;
}
#menu-toggle:checked + label + #toggle-content {
    display: flex !important;
    text-align: center !important;
    flex-direction: column !important;
}
.big-text{
    font-size: 4rem;
    font-weight: 700;
    padding-top: 15rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.register-button{
    width: 162px;
    height: 44px;
    background-image: url('images/Register_Button.png');
    cursor: pointer;
    border: none;
}
.circle-photo {
    border-radius: 90%;
}
.no-truncate {
    white-space: nowrap;
}

/* DESKTOP SIZE */
@media (min-width: 768px) {

}
 /* TABLET SIZE */
@media (min-width: 576px) {
    .big-text{
        font-size: 7rem;
        font-weight: 700;
        padding-top: 15rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #menu-toggle, #toggle-label{
        display: none;
    }
    .small-only {
        display: none;
    }
}