/* COLORS */
.purple-bg {
    background-color: #C271FF;
}
.purple-text {
    color: #C271FF;
}
.white-text {
    color: #FFFFFF;
}
.navy-bg {
    background-color: #071629;
}
.navy-text {
    color: #071629;
}
.opacity-text {
    opacity: 50%;
}

/* FONTS */
@font-face {
    font-family: 'SSP';
    src: url('fonts/SourceSansPro-Black.otf') format('opentype');
    
    font-family: 'SSP2';
    src: url('fonts/SourceSansPro-Light.otf') format('opentype');
}

/* FONT SIZE */
.px18 {
    font-size: 18px;
}
.px16 {
    font-size: 16px;
    font-family: 'SSP2', sans-serif;
}
.px14 {
    font-size: 14px;
}
.px12 {
    font-size: 12px;
}

body {
    font-family: 'SSP', sans-serif;
}

/* BANNER */
.top-image{
    background-image: url('images/Banner_BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#menu-toggle, #toggle-label{
    display: none;
    position: absolute;
    top: 45px;
    left: 40px;
}
#toggle-label {
    display: block;
}
#toggle-content {
    display: none;
}
#menu-toggle:checked + label + #toggle-content {
    display: flex !important;
    text-align: center !important;
    flex-direction: column !important;
}
.header-links-div, a{
    text-decoration: none;
    color: white;
}
.big-text{
    font-size: 4rem;
    font-weight: 700;
    padding-top: 15rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.register-button{
    width: 162px;
    height: 44px;
    background-image: url('images/Register_Button.png');
    cursor: pointer;
    border: none;
    white-space: nowrap;
}
.learn-pros {
    margin-top: 8rem;
    margin-bottom: 6rem;
}
.circle-photo {
    border-radius: 90%;
}
.no-truncate {
    white-space: nowrap;
}

/* QUOTES */

/* MOST POPULAR VIDS */

/* MEMBERSHIP */
.member-text {
    width: 50%;
}

/* LATEST VIDEOS */

/* FOOTER */
.foot-row {
    width: 90%;
}

 /* TABLET SIZE */
@media (min-width: 576px) {
    /* BANNER */
    .big-text{
        font-size: 7rem;
        font-weight: 700;
        padding-top: 15rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #menu-toggle, #toggle-label{
        display: none;
    }
    #toggle-content {
        display: block;
    }
    .small-only {
        display: none;
    }
    .header-links {
        display: flex;
        align-items: end;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .logo-links {
        flex: 1;
        text-align: left;
    }
    .links-links {
        flex: 1;
        text-align: right;
    }
    .links-links, a {
        margin-left: 2rem;
    }

    /* MEMBERSHIPS */
    .member-text {
        width: 50% !important;
    }

    /* FOOTER */
    .foot-logo {
        text-align: left !important;
    }
    .foot-links {
        text-align: right !important;
    }
}

/* DESKTOP SIZE */
@media (min-width: 768px) {
    /* MEMBERSHIPS */
    .member-text {
        width: 100% !important;
        /* margin-left: 0 !important;
        margin-right: 0 !important; */
    }
    .foot-row {
        width: 80%;
    }
}